@{
    Layout = "~/Views/Layout.cshtml";
}
<!-- Основной контент распродажи -->
<div class="content">
    <h1 align="center">Кинотеатр</h1>
    <p>
        В трц Атриум есть современный кинотеатр KAPO
    </p>

    <!-- Вставка изображений -->
    <table align="center" cellpadding="10">
        <tr>
            <td align="center">
                <img src="https://cdn.culture.ru/images/058d3ac1-b101-542d-8aec-58b969bc34bc.jpg" alt="Зал в кинотеатре" width="600" height="400">
                <p><b>3d</b><br><i>Комфортные места в одном из лучших кинотеатров Москвы</i></p>
    </table>
</div>