@{
    Layout = "~/Views/Layout.cshtml";
}
<!-- Контент страницы "Контакты" -->
    <div class="content">
        <h1 align="center">Наши контакты</h1>
        <p>
            <ul type="circle">
            <li><a href="https://vk.com/atriummoscow"> Наша группа в ВК</a></li>
            <li><a href="info@engeocom.com"> Наш tg</a></li>
            </ul>	
        </p>
        <!-- Адрес -->
        <h3>Наш адрес: Ташкенская 34./1, Москва. Метро Кузьминки</h3>
    </div>