@{
    Layout = "~/Views/Layout.cshtml";
}
<div class="content">
    <h1 align="center">Стрит-арт</h1>
    <p>
        «АТРИУМ» — галерея современного искусства под открытым небом в центре Москвы. Сегодня в проекте представлены работы таких легенд стрит-арта, как Шепард Фейри, Фелипе Пантоне, Тристан Итон, Бен Эйне, ПичиАво, Окуда Сан Мигель, Покрас Лампас, Faith47, Дрю Мерритт, Раби (Cyrcle), 1010, Bond TruLuv, Фанакапан, INTI, Monkey Bird, WK Interact, Фауст, Хакулла.
    </p>

    <table align="center" cellpadding="10">
        <tr>
            <td align="center">
                <img src="https://www.atrium.su/wp-content/uploads/2024/10/atrium-sun_4226-2-900x1350.jpg" width="400" height="750">
            </td>
        </tr>
    </table>
</div>